
.tl-empty-preview {
    display: flex;
    align-items: center;
    height: 100%;

    white-space: nowrap;
    margin-right: 24px;
    overflow: hidden;
    max-height: 100%;
    font-size: 12px;
    font-family: "PT Sans", Roboto, "Open Sans", sans-serif;
    color: #e7e8ea;

    padding-left: 12px;
    padding-right: 12px;
}