

.t-layers {
    height: 100%;
    z-index: 1;
}
.t-layers .t-layer {
    transition: transform .305s cubic-bezier(0.525, 1.022, 0.14, 1.01);
    /* transition-delay: .012s; */
}

.t-layers-editing .t-layer .t-layer-resize {
    cursor: default!important;
}
.t-layers-editing .t-layer {
    transition: none;
}

.tl-load-mess {
    margin-top: 20px;
}

.t-rows {
    position: absolute;
    top: 0px;
    width: 100%;
}

.t-row {
    width: 100%;
    box-shadow: 0 0 1px #09090a;
    position: relative;
}

.t-row-a {
    background-color: #1c1e23;
}
.t-row-b {
    background-color: #1b1c20;
}


.t-put {
    pointer-events: none;
    position: absolute;
    top: -2px;
    left: 0;
    border-left: 1px solid rgb(115, 226, 171);
    border-right: 1px solid rgb(115, 226, 171);
    background-color: rgba(127, 255, 212, 0.11);
    border-radius: 0px;
    z-index: 350;
    animation-name: fade-in;
    animation-duration: .7s;
    animation-timing-function: cubic-bezier(0.11, 1.15, 0.065, 1.078);
}
.t-put-small {
    pointer-events: none;
    position: absolute;
    top: -1px;
    left: 0;
    background-color: rgb(115, 226, 171);
    border-radius: 3px;
    z-index: 150;
    animation-name: fade-in;
    animation-duration: .7s;
    animation-timing-function: cubic-bezier(0.11, 1.15, 0.065, 1.078);
    box-shadow: 0 0 0 3px rgb(115, 226, 171);
}

.t-between-rows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(30, 219, 219);
}

.t-snap-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    background-color: yellow;
}