
.t-layer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(18, 23, 27);
    border-radius: 3px;
    color: #fff;
}

.t-layer:after {
    content: "";
    position: absolute;
    left: 2px;
    /* left: 0; */
    top: 0;
    height: 100%;
    width: 20px;
    border-radius: 2px;
    background: linear-gradient(to right, #1a1b20a1 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}

.t-layer-slide-action {
    position: absolute;
    z-index: 14;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: url("/images/slide_tool_cursor.svg"), col-resize;
}

.t-layer-slide-action-offset {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: rgba(0, 0, 0, 0.726);
    font-size: 12px;
    width: 52px;
    height: 18px;
    display: flex;
    align-items: center;
    pointer-events: none;
    user-select: none;
    font-family: "Lato", "Roboto", "Poppins", "Quicksand", "PT Sans", "Open Sans";;
}


.t-layer-active {
    box-shadow: 0 7px 6px -2px rgba(0,0,0,.25);
}

.t-layer-active .t-layer-resize {
    visibility: hidden;
}
.t-layer-active:after {
    visibility: hidden;
}

.t-layer-highlight {
    z-index: 100!important;
    opacity: .9;
}


.t-layer-selected {
    z-index: 100!important;
}
.t-layer-selected:before, .t-layer-highlight:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -2px;
    bottom: -2px;
    z-index: 2;
    border-radius: 5px;
    transition: box-shadow .12s;
}
.t-layer-selected:before {
    box-shadow: inset 0 0 0 1px #8f72ff;
}

/* .t-layer-highlight {
    filter: brightness(1.2);
} */
.t-layer-highlight:before {
    box-shadow: inset 0 0 0 1px #8e72ffc8;

    /* box-shadow: inset 0 0 0 2px rgb(56, 97, 235), 0 0 4px 2px rgba(35, 86, 255, 0.3); */
}


.t-layer-hidden {
    opacity: 0.5;
}

.t-layer-place {
    position: absolute;
    top: -3px;
    left: -3px;
    border-radius: 5px;
    border: 2px dashed royalblue;
}

.t-layer-resize {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    cursor: ew-resize;
    z-index: 12;
}
.t-layer-resize-left {
    left: 0;
}
.t-layer-resize-right {
    right: 0;
}
.t-layer-resize:before {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 0;
    right: 0;
    width: 2px;
    /* border-radius: 3px; */
    margin: auto;
    /* background-color: #fff; */
}
/* .t-layer-resize-left:hover:before {
    box-shadow: 1px 0 0px 3px rgba(64, 108, 241, 0.945), -5px 0 5px 1px rgba(20, 20, 32, 0.87);
}
.t-layer-resize-right:hover:before {
    box-shadow: -1px 0 0px 3px rgba(64, 108, 241, 0.945), 5px 0 5px 1px rgba(20, 20, 32, 0.87);
} */

.t-layer-resize-left:hover:before {
    border-radius: 3px;
    background-color: #fff;
}
.t-layer-resize-right:hover:before {
    border-radius: 3px;
    background-color: #fff;
}

.t-layer-preview-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    border-radius: 3px;
    overflow: hidden;
}

.t-layer-drag-time {
    position: absolute;
    height: 16px;
    bottom: -16px;
    color: #fff;
    background-color: #000;
    font-size: 10px;
    display: inline-block;
    border-radius: 3px;
    z-index: 10;
}

.t-layer-resize-duration {
    position: absolute;
    height: 16px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    width: 50px;
    color: #000;
    background-color: #fff;
    font-size: 10px;
    display: inline-block;
    border-radius: 3px;
    z-index: 10;
}
.t-layer-resize-duration:before {
    content: "";
    position: absolute;
    width: 65px;
    height: 1px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: -7px;
    margin: auto;
    z-index: -1;
}

.t-layer-resize-pos {
    position: absolute;
    height: 16px;
    bottom: -16px;
    color: #fff;
    background-color: #000;
    font-size: 10px;
    display: inline-block;
    border-radius: 3px;
    z-index: 10;
}
.t-layer-res-right {
    right: 0;
}
.t-layer-res-left {
    left: 0;
}

.t-layer-unhide {
    position: absolute;
    left: 4px;
    z-index: 13;
}

.t-layer-unlock {
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    z-index: 13;

    background-color: rgb(77, 82, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}


.t-layer-loading {
    position: relative;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    font-family: "Montserrat", "Lato", "Roboto", "Poppins", "Quicksand", "PT Sans", "Open Sans";
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.t-layer-loading span {
    position: absolute;
    /* margin: 0 auto; */
    left: 0;
    /* right: 0; */
    top: 1px;
    bottom: 1px;
    display: block;
    width: 0;
    /* height: 100%; */
    border-radius: 4px;
    background: linear-gradient(-90deg, #2a38f728 0%, #5234ffb6 40%, #0947cc2c 60%); 
    background-size: 600% 100%;
    animation: buffered-anim 10s ease-out infinite;
    z-index: 12;
    transition: width .2s ease-out;
}

