
.tl-gen-preview {
    background-size: auto 90px;
    background-position: center center;
    background-repeat: repeat-x;
    height: 100%;
    position: relative;
}

.tl-gen-title {
    background: linear-gradient(to right, #0f4ee5b8 0%, #d70fe1c2 100%);
    padding: 0 12px;
    margin: 2px 0 2px 6px;
    border-radius: 3px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    height: 16px;
    font-family: "PT Sans", Roboto, "Open Sans", sans-serif;
    color: #e7e8ea;
}